<%- include('./partials/head') %>


<form action="/competentie" method="POST">
  <label for="naam">CompetentieNaam:</label>
    <input type="text" placeholder="competentieNaam" name="naam">
    <button type="submit">Submit</button>
</form>



<%- include('./partials/foot') %>