<%- include('./partials/head') %>

<body>
    <nav>
        <ul class="navContainer">
            <li><a class="navLink" href="#">METING 1</a></li>
            <li><a class="navLink" href="#">METING 2</a></li>
            <li><a class="navLink" href="#">METING 3</a></li>
            <li><a class="navLink" href="#">METING 4</a></li>
            <li class="average">GEMIDDELDE</li>
        </ul>
    </nav>
    <main>

        <section class="introSection">


            <h1>Seksuele opvoeding in de jeugdhulp meting 1 </h1>

            <p>Beste Deelnemer, Hierbij de eerste vragenlijst over seksuele opvoeding in de jeugdhulp. Deze vragen sluiten aan bij de eerste les training 'Seksualiteit en Opvoeden'. Het invullen van de vragenlijst duurt ongeveer 30 minuten en is anoniem. Er zijn geen goede of foute antwoorden. Alvast hartelijk dank voor het invullen. Groet, projectteam HvA en Qpido</p>

            <ul>
                <li><a href="#">VRAGENLIJST</a></li>
                <li><a href="#">GRAFIEK 1 </a></li>
                <li><a href="#">GRAFIEK 2</a></li>
            </ul>

        </section>


        <section class="competentieVragenlijst">
            <h2 class="competentieHeader">COMPETENTIE <%- competentie[0].naam %></h2>

            <h2> <%- vragenlijst[0].naam %> </h2>



           
                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio" id="radio1">
                        <label for="radio1">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio" id="radio2">
                        <label for="radio2">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio" id="radio3">
                        <label for="radio3">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio" id="radio4">
                        <label for="radio4">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio" id="radio5">
                        <label for="radio5">HEEL VEEL</label>
                    </div>
                </div>
         
                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio2" id="radio6">
                        <label for="radio6">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio2" id="radio7">
                        <label for="radio7">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio2" id="radio8">
                        <label for="radio8">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio2" id="radio9">
                        <label for="radio9">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio2" id="radio10">
                        <label for="radio10">HEEL VEEL</label>
                    </div>
                </div>

                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio3" id="radio11">
                        <label for="radio11">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio3" id="radio12">
                        <label for="radio12">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio3" id="radio13">
                        <label for="radio13">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio3" id="radio14">
                        <label for="radio14">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio3" id="radio15">
                        <label for="radio15">HEEL VEEL</label>
                    </div>
                </div>

                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio4" id="radio16">
                        <label for="radio16">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio4" id="radio17">
                        <label for="radio17">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio4" id="radio18">
                        <label for="radio18">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio4" id="radio19">
                        <label for="radio19">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio4" id="radio20">
                        <label for="radio20">HEEL VEEL</label>
                    </div>
                </div>

                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio5" id="radio21">
                        <label for="radio21">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio5" id="radio22">
                        <label for="radio22">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio5" id="radio23">
                        <label for="radio23">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio5" id="radio24">
                        <label for="radio24">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio5" id="radio25">
                        <label for="radio25">HEEL VEEL</label>
                    </div>
                </div>

                <p class="subject"></p>

                <div class="radio-list">
                    <div class="radio-item">
                        <input type="radio" name="radio6" id="radio26">
                        <label for="radio26">GEEN</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio6" id="radio27">
                        <label for="radio27">WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio6" id="radio28">
                        <label for="radio28">NIET VEEL NIET WEINIG</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio6" id="radio29">
                        <label for="radio29">VEEL</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="radio6" id="radio30">
                        <label for="radio30">HEEL VEEL</label>
                    </div>
                </div>

               


        </section>
    </main>

    <%- include('./partials/foot') %>