<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginStyles.css">
    <script src="app.js" defer ></script>
</head>


<body>

    <main>

        <div class="heroImage"></div>
        <h1 class="inlogHeader">Reflect for Effect</h1>
        <h2 class="inlogHeaderh2">Login</h2>

        <p>Log hier in om quizvragenlijst te beheren</p>

        <form>
            <Label>Gebruikersnaam</Label>
            <input type="text" name="" id="">
            <label for="">Wachtwoord</label>
            <input type="password" name="" id="">
            <button class="submitBtn" id="test">SUBMIT</button>
        </form>
    </main>

    <%- include('./partials/foot') %>