@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root {
    --darkBlue: #152853;
    --lightBlue: #4daae5;

}



.navContainer {
    display: flex;
    list-style: none;
    padding: 2rem 0rem;
    margin-left: 10rem;
    margin-right: 10rem;

}

.navContainer li {

    padding-right: 2rem;
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    color: var(--lightBlue);
}

.navLink:hover {
    color: var(--darkBlue);
}

.navLink:focus {
    color: #ffffff;
    background-color: var(--lightBlue);
    padding: 0.5rem;
    border-radius: 0.5rem;
}


.average {
    color: var(--darkBlue);
    font-weight: 400;
    margin: 0 4rem 0 auto;

}

.introSection {
    background-color: var(--darkBlue);
    color: #ffffff;
}

.introSection div {
    background-color: var(--darkBlue);
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: -1;
}


.introSection h1 {
    font-size: 2rem;
}

.introSection p {
    max-width: 60rem;
}

.introSection h1,p,
ul {

    padding-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

.introSection ul {
    display: flex;
    list-style: none;

}

.introSection a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-right: 2.5rem;

}

.introSection a:focus {
    color: var(--darkBlue);
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.competentieVragenlijst {
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.competentieVragenlijst h2 {
    font-size: 1.5rem;
    margin: 1rem 0;

}

.competentieHeader {
    color: var(--lightBlue);

}





.subject{
    padding-left: 0;
}


.radio-list {
    display: flex;

}


.radio-item [type="radio"] {
    display: none;
}


.radio-item label {
    display: block;
    padding: 20px 60px;
    background: var(--lightBlue);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 150px;
    white-space: nowrap;
    position: relative;
    color: white;
    margin-right: 25px;
}


.radio-item label:after {
    height: 20px;
    width: 20px;
    border: 2px solid #524eee;
    left: 20px;
    top: calc(50% - 12px);
}

.radio-item label:before {
    background: #524eee;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;

}

.radio-item [type="radio"]:checked~label {
    border-color: #524eee;
    background: var(--darkBlue);
}

.radio-item [type="radio"]:checked label:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}